@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-rows: 1;
  --grid-cols: 1;
}

.grid-container {
  display: grid;
  grid-gap: 0.1em;
  width: fit-content;
  grid-template-rows: repeat(var(--grid-cols), 1fr);
  grid-template-columns: repeat(var(--grid-rows), 1fr);
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1em; */
  border: 1px solid #000000;

  width: 12px;
  height: 12px;
}

.btn-primary {
  @apply m-1 rounded border-2 border-neutral-900 p-1;
}
